#fabricateurGateau {
    padding: 10px;
    font-size: 24px;
    line-height: 1.5em;

    align-items: start;
    background-color: lightgray;
}

#affichageGateau {
    width: 33%;
    border-right: 10px;
    border-style: solid;
    border-color: darkgray;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

#commande {
    display: flex;
    align-content: center;

    background-color: lightgray;
    margin: 1%;
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: darkgray;
}

.imageStack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

#imgBase {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    padding-top: 30%;
}

#imgCremeFouettee {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
}

#imgCerise {
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
    width: 50%;
    padding-left: 30%;
    padding-top: 40%;
}

.btn {
    background-color: darkblue;
    color: white;
    width: 30%;
    height: 10%;
    font-size: inherit;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: darkcyan;
}

#saveurDeGlacageChoisie {
    font-size: inherit;
}

#saveurDeBaseChoisie {
    font-size: inherit;
}

#nomPrenom {
    font-size: inherit;
}

#adresse {
    font-size: inherit;
}