/* Basic Reset */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.barreDeNavigation 
{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #fabe82;
    color: white;
    padding: 50px 50px;
    height: 60px; /
}

.logo
{
    width: 20px;
}

.imgLogo a {
    border: 2px solid #ff8000;
    border-radius: 30%;
    color: black;
    padding: 15px;
    text-decoration: none;
    font-size: 1.5rem; 
    font-weight: bold;
}

.liensNav 
{
    list-style-type: none; 
    display: flex; 
}

.liensNav li a 
{
    border: 2px solid #ff8000;
    font-size: large;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    display: block; 
    transition: background-color 0.3s; 
}

.liensNav li a:hover 
{
    background-color: #fc8c1c; 
}

.backgroundImg
{
    background-image: url('../images/arrierePlan.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 70vh; 
    width: 100%;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    text-shadow: 2px 2px 4px black;
}

.btnCommanderEnLigne
{
    text-decoration: none;
    font-size: 30px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff8000;
    color: white;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.btnCommanderEnLigne:hover
{
    background-color: #fc8c1c;
}

.footer
{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #fabe82;
    color: black;
    padding: 50px 50px;
    height: 140px;
}

.liensFooter
{
    list-style-type: none; 
    display: flex; 
}

.liensFooter li a 
{
    font-size: 40px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    display: block; 

    transition: background-color 0.3s; 
}

.liensFooter li a:hover
{
    background-color: #fc8c1c;
}

.commande 
{
    color: red
}